:root {
  --bg-color-primary: cornsilk;

  --text-color-verified: palevioletred;

  --gutter-s: 8px;
  --gutter-m: 16px;
  --gutter-l: 24px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg-color-primary);
}

.article {
  margin: 0 auto;
  max-width: 680px;
  padding: var(--gutter-l);
  text-align: left;
}

.article__heading {
  margin: 0 0 var(--gutter-l) 0;
}

.article__heading--verified {
  color: var(--text-color-verified);
}

.article__lead {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-family: serif;
}

.article__figure {
  margin: var(--gutter-m) 0;
}

.figure__caption {
  margin: var(--gutter-s) 0 0 0;
  font-style: italic;
  text-align: center;
}
